<ul id="slides">
  <% @users.each do |user| %>
    <div class="slide" data-id="<%= user.id %>">
      <li><%= user.first_name %></li>
    </div>
  <% end %>
</ul>

<button class="controlls" id="decline">No</button>
<button class="controlls" id="approve">Yes</button>
